<!--         FICHE TAXON           -->
<div style="display: flex; flex-wrap: wrap;margin-top: 20px">
    <div id="habitat-statut">
        <!--         HABITAT           -->
        <h2>Habitat : </h2>
        <div id="habitat">
            <img id="img_habitat" alt="image">
            <div>
                <h3 id="habitat_titre"></h3>
                <p id="habitat_description"></p>
            </div>
        </div>
        <div id="habitat_manquante">Donnée manquante</div>

        <!--         STATUT           -->
        <div id="tab_statut" >
            <h2>Statut Géographique</h2>
            <table border="1"> <!-- Création du tableau avec une bordure -->
                <thead> <!-- En-tête du tableau -->
                <tr>
                    <th>Zone</th>
                    <th>Statut Code</th>
                    <th>Description</th>
                    <th>Definition</th>
                </tr>
                </thead>
                <tbody id="statuts"> <!-- Corps du tableau -->
                </tbody>
            </table>

        </div>
    </div>

    <!--        RANG TAXONOMIQUE           -->
    <div id="rang">
        <h2>Rang taxonomique</h2>
        <div>
            <ul id='rang_liste'>

            </ul>
        </div>
    </div>
</div>