<h2 style="text-align: left;">Historique d'observation</h2>

<div id="chart-container">
     <canvas id="myChart"></canvas>
</div>

<input type="text" id="slider-date" style="display: none;">


<h2 style="text-align: left;">Carte Présence</h2>

<div style="display: flex; width: 90%;margin: 2% auto;"> 

    <!-- Fond (map) -->
    <div class="image-container">
        <img class="base-image" src="https://tile.gbif.org/4326/omt/0/0/0@4x.png?style=gbif-classic-fr"
             alt="Image de base" >
    
        <img id="map-left" class="top-image"
             src=""
             alt="Image à superposer">
    </div>
    
    <!-- Superposé (point) -->
    <div class="image-container">
        <img class="base-image" src="https://tile.gbif.org/4326/omt/0/1/0@4x.png?style=gbif-classic-fr"
             alt="Image de base">
    
        <img id="map-right" class="top-image"
             src=""
             alt="Image à superposer">
    </div> 
    
</div>
