*{
    margin: 0;
        padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans" , sans-serif;
}

.menu {
    background-color: aqua;
    width: 100%;
    height: 67px;
}

.deux{
    height: 312px;
    background: #b71313;
    position: relative;
    left: 15%;
    width: 70%;
}

.ber{
    height: 156px;
    background: #000;
}

.gros{
    height: 67px;
    background: #9c9292;
    text-align: center;
}

p{
    width: 15px;
    text-align:  center;
}