
/*Accueil - barre de recherche*/
.nav_recherche {
    background-color: #26B2A2;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    gap: 10px;
}
/* Style pour le champ de recherche */
.nav_recherche input[type="search"] {
    width: 85%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: #fff;
    color: #000;
    outline: none;
    border-radius: 3px;
}
/* Style pour le bouton "Rechercher" */
.nav_recherche button {
    padding: 8px;
    height: 40px;
    background-color: white;
    border: 1px solid lightgray;
    color: #26B2A2;
    font-size: medium;
    border-radius: 3px;
    cursor: pointer;
}

h3{
    display: flex;
}

h4{
    color: #26B2A2;
    margin-bottom: 10px;
}
h5{
    margin-bottom: 10px;

}



main{
    padding: 30px 0;
}

header{
    z-index: 2;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 10%;
}


.container #filtre{
    width: 15%;
    min-height: 300px;
    border-top: 2px solid slategray;
    border-right: 1px solid slategray;
    border-bottom: 1px solid slategray;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin-top: 60px;
    position: absolute;
    left: 0;
    top: 105px;
    text-align: left;
}

.container #filtre li{
    margin: 0 0 10px 5px;
    list-style: none;
}

.container #filtre input{
    cursor: pointer;
}

.container .search{
    /*background-color: blue;*/
    width: 100px;
    flex-grow: 1;
    text-align: center;
    padding-inline: 10%;
}

.container hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

.container #resultat {
    /*margin-top: 15px;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(300px - 30px), 1fr));
    gap: 20px ; /* Espacement entre les éléments */
    padding: 30px 0;
}

#resultat .item {
    position: relative; /* Pour que la position absolue du bouton soit basée sur la div.item */
    width: 100%;
    border: 2px solid black;
    background-color: lightsteelblue;
    border-radius: 10px;
    height: 140px;
    padding: 3%;
    display: flex;
}

#resultat .img-carte{
    width: 120px;
    height: 100%;
    display: flex;
    border-radius: 100px;
}

#resultat .information{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    text-align: left;
    justify-content: space-evenly;
    /*background-color: red;*/
}

#resultat .information hr{
    margin-top: 5px;
    margin-bottom: 5px;
}


.nom-espece{
    font-weight: bold;
}


#resultat p{
    /*margin-bottom: 15px;*/
    /*background-color: red;*/
    font-size: 14px;
}

.page_preference{
    width: auto;
}

.page_preference h5{
    display: inline-block;
    width: 50%;
    float: left;
}

.page_preference input{
    width: 80px;
}

.btn_detail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le bouton au milieu de la div.item */
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
}


.item:hover{
    opacity: 0.5;
}


.item:hover .btn_detail{
    opacity: 1;
    display: inline;
}

@media (max-width: 980px){
    main{
        padding: 30px 0;
        display: block;
    }

    .container{
        margin-left: 0;
    }

    .container #filtre{
        width: 100%;
        min-height: 0;
        border-top: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-left: 1px solid gray;
        padding: 10px;
        margin-top: 0;
        position: static;
        left: 0;
        top: 105px;
        text-align: left;
    }
}
