
/* Formulaire */
#inscription-id h1{
    text-align: center;
    color: green;
}

#inscription-id form{
    width: fit-content;
    margin: 0 auto;
}


#inscription-id ul{
    list-style: none;
}

#inscription-id a{
    color: blue;
    text-decoration: underline;
}