/*Accueil - barre de recherche*/
*{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#test{
    color: white;
    z-index: 1;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
#test h2{
        text-shadow: 1px 1px 0px  rgb(37, 177, 160);
        font-size: 3em;
        
}
    
#recherche{
    background-color: white;
    height: 2.3lh;
    border: none;
    width: 50vh;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    display: inline-block;

}

#recherche input{
    width: 44vh;
    height: 3vh;
    border: 0;
    margin-left: 1%;
    /* background: url() no-repeat; */
    background-color: white;
}

#test button{
    font-size: 12px;
    height: 2lh;
    border: 0;
    margin-left: 1vh;
    margin-top: 1%;
    background-color: white;
}


.fa-search:before {
    content: "\f002";
    font-size: 20px;
    color: #26B2A2;;
}


/* .div_recherche{
    margin-top: 0;
    margin-bottom: 3%;
    height:30%;
    border: none;
    margin-top: 5.2%;
}

.rechercher{
    width: 100%;
    height:100%;
    position: relative;
    display: flex;
    border: 3px solid rgb(29, 31, 47);
} */

/* .recherche{
    width: 100%;
    padding: 5px;
    height: 100%;
    outline: none;
    font-size: 14px;
    border: 1px;
} */

/* .rechercher button{
    width: 50px;
    height: 30px; 
    border: 1px solid rgb(29, 31, 47);
    background: rgb(29, 31, 47);
    text-align: center;
    color: #eeeeee;
    cursor: pointer;
    font-size: 20px;
} */


/*SLIDER*/
/*  {
     margin: 0;
    padding: 0;
    box-sizing: border-box; 
} */

.slider {
    padding: 30px 10px;
    height: 82vh;
    position: relative;
    width: 100%;
    padding: 0; 
    margin: 0; 
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

/* .suivant, .precedent {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
} */

/* .suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
} */

/* ARTICLES */

.div_text1 p, .div_text2 p{
    text-align: justify;
    vertical-align: middle;
    font-size: 15px;
    flex-direction: column;
    display: flex;
} 

/*-----ARTICLE 1 -------*/

.div_text1{
    margin-top: 7%;
    margin-right: 8%;
    width: 40%;
}

.div_article1 h2{
    margin-bottom: 20px;
    text-align: center;
}
 
.div_article1{
    height: 32rem;
    margin-top:50px;
    display: flex; 
    justify-content: space-between;    
}

.img_artcle1{
    align-items: left;
    position: relative;
} 

 .div_article1 img{
    display: block;
    margin-right: 0;
    margin-top:7%;
    margin-left: 50px;
    object-position: left bottom;
    border-radius: 10px;
}


.div_article1 button{
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    background-color:#26B2A2;  
    width: 20%;
    height: 40px;
    border: 1px solid lightgray;
    color:#fff;
    font-size: 13px;
    font-weight: 50; 
    margin-left: 40%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;  
}

/*--------ARTICLE 2 ------*/
   
.div_article2 h2{
    margin-bottom: 20px;
    text-align: center;
    /* text-shadow: 1px 1px 0px  rgb(163, 165, 165); */
}

.div_text2{
    margin-top: 3%;
    margin-right: 8%;
    width: 40%;
}

.div_article2{
    margin-top : 30px;
    height: 32rem;
    margin-top:50px;
    display: flex; 
    justify-content: space-between;   
}

.div_article2 img{
    display: block;
    margin-top: 3%;
    /* margin-top:10px; */
    margin-left: 50px;
    object-position: left bottom;
    border-radius: 10px;
}


.div_article2 button{
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    background-color:#26B2A2;  
    width: 20%;
    height: 40px;
    border: 1px solid lightgray;
    color:#fff;
    font-size: 13px;
    font-weight: 50; 
    margin-left: 40%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;  
}



/***** SE CONNECTER *****/
.div_connecter {
    margin-top: 40px;
    background-color: #26B2A2;
    width: 100%;
    height: 60px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: white; 

}

.div_connecter h3:hover {
    opacity: 0.3;
}

.separation{
    width: 1px;
    height: 60px;
    background: #fff;
}

.first{
    margin-right:17%;
}

.second{
    margin-left: 17%;
}

/******DECOUVRIR******/
.div_decouvrir{
    margin-top: 0;
    background-color: #EFEFEF; 
    color: #26B2A2;
    width: 100%;
    height: 369px;
    display: flex; 
    justify-content: center; 
    align-items: right; 
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}

.div_decouvrir h3{
    padding-right: 70vh;
}


/***** DIV INFO ******/
.div_infos{
    margin-top: 10px;
    width: 100%;
    /* background-color: #26B2A2; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;

}

.div_infos .partie1, .partie2, .partie3{
    width: 33.3%; 
    height: 40vh; 
    /* border: 1px solid #ccc; */
    text-align: center;
    line-height: 100px; 
    color: white;
    font-size: 1.5em;
}

.cercle{
    margin-top: 10%;
    margin-left: 43%;
    margin-right: 50%;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #26B2A2;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.div_infos {
    justify-content: center;
}

.div_infos p{
    margin-top: 5%;
    /* color: #423F3F; */
    color:black;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
} 

.div_infos button{
    background-color:#26B2A2; 
    border: 1px solid lightgray;
    cursor: pointer;
    color:#fff;
    font-size: 12px;
    font-weight: 50;
    border-radius: 5px;
    margin-top: 2%;
    width: 23%;
    height: 9%;
}

.div_p{
    height :20%;
    width: 40%;
    justify-content: center;
    margin-left: 30%;
    margin-top: 7%;
    margin-bottom: 0; 
}

button:hover {
    opacity: 0.5;
}

#popup_art1, #popup_art2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 98;
    background: rgba(0, 0, 0, 0.7);
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,serif;

}

.open {
    display: block;
}




#popup-content, #popup-content2 {
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-exit {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    background: #26B2A2;
    padding: 5px 10px;
    border-radius: 5px;
}


/* section vidéo */
/* .div_videos h3{
    margin-bottom: 221px;
    text-align: center;     
}

.div_videos{
    color: #26B2A2;
    margin-top:20px;
    background-color: #D9D9D9;
    height: 300px !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 100vh
}

.video{
    flex: 1; /* Fait en sorte que les divs aient la même largeur */
    /* text-align: center;
    padding: 10px;
    margin: 10px;
    width: 10px;
    display: flex;
} */ 


/*RESPONSIVE*/
/***************************************** Style pour les smartphones *********************************/
@media (max-width: 767px) {

    #recherche {
        background-color: white;
        height: 1.5lh;
        border: none;
        width: 36vh;
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    }

    #recherche input {
        width: 32vh;
        height: 2vh 
    }

    #test button {
    margin-left: 0vh;
    font-size: 9px;
    }
    .fa-search:before {
        font-size: 17px;
    }
    
    .slider {
        width: 100%;
        height:70vh;
    }

    /* .suivant, .precedent {
        font-size: 1rem;
    } */

    .div_connecter {
        margin-top:20px;
        height: 40px;
    }

    .first h3, .second h3{
            display: block;
            font-size: 0.7em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    font-size: 8px;
}
/*********************VERIFFFFFFFFFFFFFF************/
    .div_connecter input[type="button"] {
        width: 100px;
        height: 70%;
        font-size: 12px;
        font-weight: 120;
    }
/******************************************************/
    .div_decouvrir{
        margin-top: 30px;
        width: 100%;
        height: 90px;
        display: flex; 
        justify-content: center; 
        align-items: right; 
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
    }
    
/*********************VERIFFFFFFFFFFFFFF************/

    .div_decouvrir input[type="button"]{
        width: 130px;
        height: 40%;
        font-size: 12px;  
        font-weight: 70;
    }
/******************************************************/

    .div_decouvrir h3{
        padding-right: 15%;
    }

/*PARTIE connecter*/
.div_connecter {
    margin-top: 40px;
    width: 100%;
    height: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 10px;
    font-weight:normal;
}

.separation{
    width: 1px;
    height: 30px;
}

.first{
    margin-right:17%;
}

.second{
    margin-left: 17%;
}


/***PARTIES ARTICLES***/ 
/*article 1 & 2*/ 

.div_text1, .div_text2{
    width: 57%;
    margin-top: 3%;
    margin-left: 9%;    
    margin-bottom: 25%;
}
.div_text1 p, .div_text2 p{
    text-align: justify;
    vertical-align: middle;
    font-size: 10px;
    flex-direction: column;
    display: flex;
    height: 20%;
    width: 100%;
} 

.div_text1 h2, .div_text2 h2{
    font-size: 9px;
}

.cercle{
    height: 3vh;
    width: 28px;
    margin-left: 38%;
    font-size: 12px;
}


.div_article1 button, .div_article2 button {
    vertical-align: middle;
    border-radius: 2px;
    width: 17%;
    height: 21px;
    font-size: 7px;
    font-weight: 100;
    position: absolute;
    margin-top: 44%;
    margin-left: 19%;

    /* vertical-align: middle;
    border-radius: 2px;
    width: 20%;
    height: 24px;
    font-size: 8px;
    font-weight: 100;
    position: absolute;
    margin-top: 36%;
    margin-left: 15%; */
}
.div_article1, .div_article2{
    flex-direction: column;
    align-items: center;
}
/*ARTICLE 1*/
.div_article1 img {
        object-fit: fill;
        height: 30%;
        width: 60%;
        display: block;
        margin-top: 7%;
        margin-left: inherit;
        object-position: left bottom;
        border-radius: 10px;  
}

.div_article1 button{
    margin-top: 44%;
}

/*ARTICLE 2*/
.div_article2 {
    margin-top: 20px;
}
.div_article h2{
    margin-bottom:35%;
}
.div_article2 img{
    height: 30%;
    width: 60%;
    display: block;
    margin-top: 3%;
    margin-left: inherit;
    object-position: left bottom;
    border-radius: 10px;
}

/***************DIV INFOS**********/
.div_infos p {
    /* margin-right: 17%; */
    font-size: 7px;
    width: 54px;
    height: 3%;
    margin-left: 0%;
    margin-top: 0%;
}

.div_infos button{
    width: 50%;
    height: 5%;
    font-size: 8px;
}

.div_infos{
    margin-top: 10%;
}
.div_infos .partie1, .partie2, .partie3{
    flex-direction: column;
}

.div_decouvrir h3 {
    padding-right: 15%;
    font-size: 11px;
}
}

/***************************************** Style pour les tablettes *********************************/
@media (min-width: 1000px) {
   
    
    
    
}

/* Styles pour les écrans larges */
@media (min-width: 1200px) {
    
    
    
}


/*#CDD3DA*/