
/*Accueil - barre de recherche*/
.nav_recherche {
    background-color: #26B2A2;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    gap: 10px;
}
/* Style pour le champ de recherche */
.nav_recherche input[type="search"] {
    width: 85%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: #fff;
    color: #000;
    outline: none;
    border-radius: 3px;
}
/* Style pour le bouton "Rechercher" */
.nav_recherche button {
    padding: 8px;
    height: 40px;
    background-color: white;
    border: 1px solid lightgray;
    color: #26B2A2;
    font-size: medium;
    border-radius: 3px;
    cursor: pointer;
}

h3{
    display: flex;
}

h4{
    color: #26B2A2;
    margin-bottom: 10px;
}
h5{
    margin-bottom: 10px;

}


main{
    padding: 20px 0 50px 0;
}

header{
    z-index: 2;
}

td {
    text-align: center;
}

th{
    padding: 2px;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* margin-left: 10%; */
}


.container #filtre{
    width: 100%;
    min-height: 0;
    border-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
    margin-top: 0;
    position: static;
    left: 0;
    top: 105px;
    text-align: left;
}

.container #filtre li{
    margin: 0 0 10px 5px;
    list-style: none;
}

.container #filtre input{
    cursor: pointer;
}

.container .search{
    /*background-color: blue;*/
    width: 100px;
    flex-grow: 1;
    text-align: center;
    padding: 0 8% 0 10%;
}

.container hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

.container #result_area{
    background-position: center;
    min-height: 250px;
}

.container #resultat {
    /*margin-top: 15px;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(300px - 30px), 1fr));
    gap: 15px ; /* Espacement entre les éléments */
    padding: 30px 0;
}


#resultat .item {
    position: relative; /* Pour que la position absolue du bouton soit basée sur la div.item */
    width: 100%;
    /* border: 2px solid black; */
    /* background-color: lightsteelblue; */
    /* border-radius: 10px; */
    height: 150px;
    padding: 3%;
    display: flex;
    border-radius: 5px;
}

#resultat .img-carte{
    width: 130px;
    /* height: 130px; */
    display: flex;
    border-radius: 5px;
}

#resultat .information{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    text-align: left;
    justify-content: space-evenly;
    /*background-color: red;*/
}

#resultat .information hr{
    margin-top: 5px;
    margin-bottom: 5px;
}


.nom-espece{
    font-weight: bold;
}


#resultat p{
    /*margin-bottom: 15px;*/
    /*background-color: red;*/
    font-size: 14px;
}

.page_preference{
    width: auto;
}

.page_preference h5{
    display: inline-block;
    width: 50%;
    float: left;
}

.page_preference input{
    width: 80px;
}

.btn_save{
    position: absolute;
    top: 3%;
    right: 2%;
    background-color: white;
    color: black;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    opacity: 0;
}

.btn_like{
    position: absolute;
    top: 30%;
    right: 2%;
    background-color: white;
    color: black;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    opacity: 0;
}

.bxs-heart{
    color: red;
}

.btn_save:hover , .btn_like:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}


#resultat .item:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
}

.item:hover .btn_save , .item:hover .btn_like{
    opacity: 1;
    display: inline;
}


#pagination_content{
    display: flex;
    justify-content: center;
    align-items: center;
}


#prev_arrow , #next_arrow{
    font-size: 30px;
    border-radius: 100px;
    padding: 5px;
    margin: 0 15px;
}

.next_prev_activated:hover{
    background-color: #d4d4d4;
    cursor: pointer;
}

#pagination{
    width: fit-content;
    font-size: 20px;
}

ul#pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

ul#pagination li {
    margin-right: 5px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;

}

ul#pagination li:hover {
    background-color: #d4d4d4;
}

.page_active{
    background-color: #26B2A2;
    color: white;
}


/*Plus d'information*/
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popupInfo {
    position: absolute;
    overflow-y: auto;
    top: 10%;
    left: 12%;
    width: 80%;
    height: 85%;
    /*transform: translate(-50%, -50%);*/
    background-color: white;
    padding: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-position:center;
}

#closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
}

#popupHeader{
    display: flex ;
    align-items: center ;
    background-color: rgb(29, 31, 47);
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*border-radius: 10px;*/
}


/*Slider*/
.slider {
    height: 10rem;
    position: relative;
    width: 10rem;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
}
#en-tete{
    /*display: flex;*/
    /*flex-direction: column;*/
    margin-left: 2rem;
    text-align: left;
}
#en-tete h2{
    width: 100%;
    color: #26B2A2;
    font-size: 32px;
}

#en-tete p{
    width: 100%;
    color: white;
}


.slider img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}


.slider img.active {
    opacity: 1;
}

.suivant, .precedent {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 0;
}

.precedent {
    left: 0;
}


/* Onlget */
#onglet{
    color: white;
    background-color: rgb(29, 31, 47);
    padding: 10px 0 0 20px;

}
#lst_onglet{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    /*flex-wrap: wrap;*/
}

#lst_onglet li{
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#lst_onglet li:hover{
    color: #26B2A2;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 2px solid white;

}

#lst_onglet .active{
    background-color: white;
    font-weight: bold;
}


#habitat-statut{
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: left;
    flex-grow: 1;
}

#habitat{
    display: flex;
    align-items: center;
    line-height: 30px;
    /*background-color: red;*/
}

h2{
    text-decoration: underline;
    margin-bottom: 10px;
}


#img_habitat{
    /*border-radius: 100px;*/
    /*border: 2px solid #464646;*/
    width: 128px;
    height: 128px;
}


/*main{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*#habitat , #statut{*/
/*    width: 50%;*/
/*}*/

#rang{
    /* background-color: green; */
    text-align: left;
    flex-grow: 1;
    margin-left: 20px;
}

#rang_liste {
    list-style-type: none; /* Supprime les puces de la liste */
    padding-left: 0; /* Enlève le padding à gauche */
    line-height: 0.7;

}

#rang_liste li{
    margin-left: 20px; /* Ajoute un padding à gauche pour l'indentation */
    padding-left: 5px; /* Ajoute un padding à gauche pour l'indentation */
    border-left: 5px solid #26B2A2;
}



/* Observation */
#observation{
}


/* Positionnement relatif pour le conteneur */
.image-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

/* Styles pour chaque image */
.base-image,
.top-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%; /* Remplir le conteneur */
}

/* Ajuster le z-index pour contrôler l'empilement */
.top-image {
    z-index: 1; /* Au-dessus de l'image inférieure */
}


@media (max-width: 980px){
    main{
        padding: 10px 0;
        display: block;
    }

    .container{
        margin-left: 0;
    }

    /* .container #filtre{
        width: 100%;
        min-height: 0;
        border-top: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-left: 1px solid gray;
        padding: 10px;
        margin-top: 0;
        position: static;
        left: 0;
        top: 105px;
        text-align: left;
    } */

    #popupInfo{
        top: 3%;
        left: 2%;
        width: 96%;
        height: 94%;
        padding: 2rem 1rem;
    }

    #closePopup {
        position: fixed;
        top: 20px;
        right: 50px;
        cursor: pointer;
        font-size: 30px;
        color: red;
    }
    /*#popupInfo div {*/
    /*    flex-direction: row;*/
    /*}*/

    /*#rang {*/
    /*    order: 2; !* Change l'ordre de la div 'rang' *!*/
    /*}*/
}
