body {
    background-image: url(./../img/fondconnexion.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 500px;
    position: relative;
    height: 50vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 34%;
    position: absolute;
    left: 33%;
    margin-top: 10%;
    margin-bottom: 5%;
    bottom: 80%;
    height: 43vh;
}


 
h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    font-size: 1.8em;
    margin-top: 4%;
}

label {
    display: block;
    margin-bottom: 6px;
    text-align: left;
    font-size: 18px;
}


input[type="email"], input[type="password"], input[type="submit"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 18px;}

input[type="submit"] {
    background-color: #41a17c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #226445;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}
/* footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 20px 0;
} */

#error {
    display: none;
    color: red;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  /* a:hover {
    text-decoration: underline;
    color: #ffffff;
  } */

/*Style du lien "Mot de passe oublié" */
#forgot-password-link {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  #forgot-password-link a {
    text-decoration: none;
    color: #007bff;
  }

  #forgot-password-link a:hover {
    text-decoration: underline;
    color: #0056b3;
  }

  /**************RESPONSIVE*****************/
  @media (max-width: 767px){

    body {
        height: 78vh;
    }
    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 91%;
        position: absolute;
        left: 5%;
        margin-top: 10%;
        margin-bottom: 5%;
        bottom: 37%;
        height: 45vh;
    }
    label {
        display: block;
        margin-bottom: 15px;
        text-align: left;
        font-size: 3em;
        margin-top: 6%;
    }
    input[type="email"], input[type="password"], input[type="submit"] {
        width: calc(100% - 12px);
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid #ccc;
        height: 4vh;
        font-size: 2em;
    }
    h3 {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        font-size: 4em;
    }
    input[type="email"], input[type="password"], input[type="submit"] {
        height: 4vh;
        font-size: 2em;
    }
    
  }

  @media (min-width: 768x) and (max-width: 992px) {
    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 40%;
        position: absolute;
        left: 36%;
        margin-top: 10%;
        margin-bottom: 5%;
        bottom: 56%;
        height: 40vh;
    }

    h3 {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        font-size: 2em;
    }
  }





   