*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans" , sans-serif;

}

html{
    font-size: 16px;
}


/* Nav Bar */
header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 1.5%;
    background-color: rgb(29, 31, 47);
    font-weight: bold;
    font-size: 16px;
    position:fixed;
    color: white;
    top: 0;
    left: 0;
    z-index: 1;
}

body{
    margin-top: 90px;
    /* background-color: #F1F4F5   ; */
    background-color: white   ;
}

main{
    /* padding: 30px 10px; */
    display: block;
}

footer{
    margin-top: 50px;
    padding: 40px 10px;
    display: block;
    background-color: rgb(29, 31, 47);
    color: white;
    z-index: 1;
    display: flex;
}

/*button{*/
/*    border-radius: 50px;*/
/*    padding: 10px;*/
/*    font-size: 16px;*/
/*}*/

a{
    text-decoration: none;
    color: white;
}

nav li a:hover{
    color: #26B2A2;
    transition: 0.4s;
}

h1{
    margin: 30px 0;
    color: #26B2A2;
}

.nav-list{
    display: flex;
    align-items: center;
}

.active{
    color: #26B2A2;
    font-size: 20px;
}

.user-action{
    display: flex;
    align-items: center;
}

.avatar_nav {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    /* background-image: url('./../img/img_profil/logo-upec.png'); */
    background-size: cover;
    margin: auto;
  }


.utilisateur , .menu{
    display: flex;
    align-items: center;
    width: auto;
    height: 75px;
    cursor: pointer;
    padding: 10px;
}

.menu{
    display: none;
}

.white-bg{
    background-color: white;
}

.gray-bg{
    background-color: #444848;
}

.logo{
    font-size: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.5px;
    display: flex;
}

.nav-list .item {
    display: inline-block;
    list-style-type: none;
    padding: 0 20px;
}

.item-user{
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;

}


.login , .register{
    background-color: black;
    border: 1px solid #26B2A2;
    color: white;
    font-weight: bold;
    display: flex;
    /*margin-right: 10px;*/
    border-radius: 10px;
    padding: 10px;
}

.login:hover , .register:hover{
    background-color: #26B2A2;
    transition: 0.4s;
    cursor: pointer;
}

/*.register{*/
/*    background-color: black;*/
/*    border: 1.5px solid #26B2A2;*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    display: flex;*/
/*    border-radius: 10px;*/
/*    padding: 10px;*/
/*}*/
/*.register:hover{*/
/*    background-color: #26B2A2;*/
/*    transition: 0.5s;*/
/*    cursor: pointer;*/
/*}*/

.user-list{
    position: absolute;
    top: 110%;
    right: 2%;
    width: 235px;
    height: fit-content;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border-bottom-left-radius: 15px; */
    transition: all .50s ease;
    /* align-items: center; */
    list-style: none;
    display: none;
    border-radius: 5px;
    line-height: 60px;
    border: 1px solid rgba(128, 128, 128, 0.247);
}


.user-list .item:hover{
    background-color: #52606933;
}

.user-list .item i{
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}


.user-deco-list{
    display: flex;
}

.user-action .user-list a{
    padding: 10px 25px;
    display: block;
    transition: all .80s ease;
    color: black;
}

.utilisateur{
    display: none;
}



@media (max-width: 980px){
    header{
        transition: .2s;
        z-index: 1;
    }

    .utilisateur{
        display: flex;
    }

    .user-deco-list{
        position: absolute;
        top: 110%;
        right: 2%;
        width: 235px;
        height: fit-content;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        list-style: none;
        display: none;
        border-radius: 5px;
        line-height: 60px;
    }

    .item , .item-user{
        width: 100%;
        text-align: center;
    }

    .item-user a{
        padding: 10px 25px;
        margin: 5px 0;
        display: block;
        transition: all .40s ease;
    }

    /*.utilisateur .nav-list .item{*/
    /*    !*padding-left: 10px;*!*/
    /*}*/
    .item{
        width: 100%;
        text-align: center;
    }

    #menu-icon , .menu{
        display: flex;
        font-size: 40px;
        cursor: pointer;
        z-index: 10001;
    }

    .nav-list {
        position: absolute;
        top: 110%;
        right: 3%;
        width: 235px;
        height: fit-content;
        background-color: #444848;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* border-bottom-left-radius: 15px; */
        transition: all .50s ease;
        /* align-items: center; */
        list-style: none;
        display: none;
        border-radius: 3px;
        line-height: 60px;
    }

    .nav-list .item {
        
        padding: 0;
    }

    .nav-list a{
        padding: 0 25px;
        margin: 12px 0;
        display: block;
        transition: all .80s ease;
    }

    #footer {
        margin-top: 50px;
        padding: 0px 0px;
    }
    #logofooter {
        height: 20vh;
        width: 33%;
        margin-left: 6%;
        margin-bottom: 0px;
    }

    #siteMap h3{
        font-size:12px;
    }
    #siteMap {
        height: 15vh;
        width: 20%;
        margin-top: 5%;
    }
    #icones {
        font-size: 14px;
        margin: 74% 15% 0% 20%;
        font-size: 30px;
        display: flex;
        justify-content: space-around;
    }

    #logofooter img{
        height: 50px;
    }
    
    #separation {
        width: 10vh;
    }

    #icones {
        font-size: 14px;
        margin: 81% -4% 0% 20%;
        font-size: 30px;
        display: flex;
        justify-content: space-around;
    }
}


/*@media (max-width: 900px){*/
/*    #menu-icon , .menu{*/
/*        display: flex;*/
/*        font-size: 35px;*/
/*        cursor: pointer;*/
/*        z-index: 10001;*/
/*    }*/
/*    .nav-list {*/
/*        position: absolute;*/
/*        top: 100%;*/
/*        right: -100%;*/
/*        width: 270px;*/
/*        height: fit-content;*/
/*        background-color: #444848;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: flex-start;*/
/*        border-bottom-left-radius: 15px;*/
/*        transition: all .80s ease;*/
/*    }*/

/*    .nav-list a{*/
/*        padding: 0 25px;*/
/*        margin: 12px 0;*/
/*        display: block;*/
/*        transition: all .80s ease;*/
/*    }*/
/*}*/

.open{
    right: 0%;
}

.display{
    display: block;
}

#user-icon{
    font-size: 40px;
    cursor: pointer;
    z-index: 10001;
    color: #26B2A2;
    
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#first{
    display: content;
}
#logofooter {
    height: 30vh;
    width: 33%;
    margin-left: 6%;
    margin-bottom: 40px;
    /* background-color: #26B2A2; */
}

#siteMap{
    height: 30vh;
    width: 20%;
    /* background-color: #bce8f1; */
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-right: 3%;

}

#siteMap a:hover, #icones a:hover {
    color: #26B2A2;
}

#siteMap h3{
    font-weight: 500;
}
#content{
    height: 23vh;
    width : 30%;
    /* background-color: #d6e9c6; */


}
#icones{
    font-size: 14px;
    margin: 30% 15% 0% 20%;
    font-size: 30px;
    display: flex;
    justify-content: space-around;

}

#siteMap a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    margin-bottom:5px;
}

#licence {
    width: 100%;
    height: 3vh;
    margin-top: 10px; /* Ajustez cette valeur selon vos préférences */
    text-align: center; /* Centre le texte horizontalement */
}

#separation{
    width: 20vh;
    height:1px;
    background-color: white;
}

a.icone:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out; 
}
