
/*Accueil - barre de recherche*/
.nav_recherche {
    background-color: #26B2A2;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 60px;
}
/* Style pour le champ de recherche */
.nav_recherche input[type="search"] {
    width: 84%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: #fff;
    color: #000;
    outline: none;
    border-radius: 3px;
}
/* Style pour le bouton "Rechercher" */
.nav_recherche button {
    width: 15%;
    padding: 8px;
    height: 40px;
    background-color: white;
    border: 1px solid lightgray;
    color: #26B2A2;
    font-size: medium;
    border-radius: 3px;
    cursor: pointer;

}

/*SLIDER*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    height: 80vh;
    position: relative;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}

