.flex-contenaire{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    text-align: center;
}
.flex-box{
    width: 300px;
    height: 400px;
    background: linear-gradient(blue,red);
    color: white;
    text-align:  center;
    line-height: 200px;
    margin: 30px;
    position: relative;
}
.carte-top{
    background-color: #26B2A2;
    text-align: center;
    height: 25%;
}

